/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap

 *= require _font-awesome

 *= require jquery.ui.resizable

 *= require codemirror-2.38/lib/codemirror
 *= require codemirror/patch

 *= require_self
 */

html, body { width: 100%; height: 100%; }
body{
  min-width: 1280px;
  background: url("admin-bg.png") repeat-x;
}

::selection {
  background: rgba(255, 185, 41, .5);
}

header{
  height: 51px;
}

section{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#sidebar{
  width: 160px;
  position: absolute;
  left: 0;
}

#main{
  position: absolute;
  left: 160px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #FFF;
  -webkit-box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.15);
}

#avatar-area{ width: 160px; height: 160px; background: url("avatar-bg.jpg") center no-repeat;}

#sidebar .nav-list > li > a,
#sidebar .nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px 15px;
  text-shadow: none;
  color: #ADADAD;
  font-size: 14px;
}

#sidebar .nav > li > a:hover,
#sidebar .nav > li > a:focus {
  background-color: transparent;
  color: #FFF;
}

#sidebar .nav-list > .active > a,
#sidebar .nav-list > .active > a:hover,
#sidebar .nav-list > .active > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

#sidebar .nav-list .divider{
  border-top: 1px solid rgba(44, 41, 36, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  background: transparent;
}

.page-header{
  height: 30px;
  margin: 0;
  padding: 20px;
  background-color: #F4F4F4;
  border-bottom: 1px solid #E1E1E1;
}
.page-header h3{ margin: 0; line-height: 30px; font-weight: normal;}

.content-section{
  overflow: auto;
  position: absolute;
  top: 171px;
  bottom: 0;
  left: 0;
  right: 0;
}

#markdown-editor .ui-resizable-e{ width: 5px; border-left: 1px solid #E1E1E1; background: transparent; cursor: col-resize; right: -2.5px;}

#markdown-input{ width: 50%; float: left; position: absolute; top: 0; bottom: 0;}

/*
.markdown-input{
  width: 100%;
  margin: 0;
  padding: 5px;
  background: #FFF;
  border: none;
  box-shadow: none;
  resize: none;
  position: absolute;
  top: 0;
  bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.markdown-input:focus{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
*/

#markdown-preview{
  width: 50%;
  height: 100%;
  padding: 5px;
  overflow: auto;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.markdown-preview table { margin: 15px 0; border-collapse: collapse; border-spacing: 0; font-size: 100%; font: inherit; }
.markdown-preview table tr { border-top: 1px solid #CCC; background-color: white; }
.markdown-preview table tr:nth-child(2n) { background-color: #F8F8F8; }
.markdown-preview table th { font-weight: bold; }
.markdown-preview table th,
.markdown-preview table td {
  border: 1px solid #CCC;
  padding: 6px 13px;
}

.post-item{
  display: block;
  float: left;
  width: 20%;
  min-width: 224px;
  height: 250px;
  overflow: hidden;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  -webkit-transition: width .2s ease-out;
  -moz-transition: width .2s ease-out;
  -o-transition: width .2s ease-out;
  -ms-transition: width .2s ease-out;
  transition: width .2s ease-out;
  clear: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-item .text{
  height: 120px;
  overflow: hidden;
}













