/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 */

* { padding:0; margin:0; outline:0; }
html {background:#FFF url("background-body.jpg") top center no-repeat fixed;}
body {
  font-family:"Hiragino Sans GB","Microsoft YaHei",Simsun,Mingliu,Arial,Helvetica;
  font-size:14px;
  line-height:22px;
  color:#444;
  background: transparent;
}

input, textarea, select { font-size:12px; }
textarea { overflow:auto; }

a img { border:0; }

.notext { font-size:0; line-height:0; border:0; text-indent:-4000px;}

a { color:#C5462B; text-decoration:none; cursor:pointer; }
a:hover { color:#C9B899; }

a.img img{ border:solid 1px #c2c0b6;}
a.img:hover img{ border:solid 1px #a2a098;}

.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }

a.un { text-decoration:underline; }
a.un:hover { text-decoration:none ;}

a.light { color:#737373;}
a.light:hover { color:#222;}

.clear { font-size:0; line-height:0; clear:both; display:block; height:0; }

.al { text-align:left; }
.ar { text-align:right; }
.ac { text-align:center; }

h1, h2, h3, h4 { font-weight:normal; }

.navbar .container { width: 940px; }
.navbar-inner{ background:#111 url("background-top.png") top repeat-x; }

#wrapper{ width:100%;}
.shelld { width:960px; margin:0 auto; }

#header { height:200px; clear:both;}
#header .title{ float:left; width:650px; padding:50px 0 0 0;}
#header .title h1.logo{ height:65px; color:#FFF; font-size:62px; line-height:62px; background-image:url("logo.png"); background-repeat:no-repeat; text-indent:-9999px;}
#header .title h1.logo a{ display:block; height:65px;}

.header-welcome h1.logo{ background-position:0 0;}
.header-posts h1.logo{ background-position:0 -100px;}

#header .title h2{ color:#A93F25; font-size:18px; line-height:28px; font-family:微软正雅黑}

#header .mark{ display:none; float:right; width:80px; height:110px; background-repeat:no-repeat; text-indent:-9999px;}
#header .mark a{ display:block; width:80px; height:110px;}

.header-posts .mark{ }

#middle{ display:none; padding-bottom:10px;}
#middle .shelld{ height:41px; line-height:42px; overflow:hidden; }

#container{ clear:both; padding-bottom:20px;}
#container .shelld{min-width:920px; max-width:1040px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background: none repeat scroll 0 0 rgba(221, 238, 246, 0.6);}

#content{ float:left; width:700px; height:100%; min-height:700px; padding:10px;
  -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;box-shadow:0 3px 4px rgba(0,0,0,.5);-moz-box-shadow:0 3px 4px rgba(0,0,0,.5);-webkit-box-shadow:0 3px 4px rgba(0,0,0,.5);background:#fff;
}
#sidebar{ float:right; width:220px; padding:10px 0;}

.model{ padding:5px 0 10px 0;}
.model h2{ padding:0 0 5px 0;}
.model ul{ padding:0 0 0 15px;}
.model .content{ padding:2px 5px;}
.model .tags a{ padding-right:5px; white-space:nowrap;}
.model a:hover{ text-decoration:underline;}


#footer { width:100%; background:url(footer.jpg); }
#footer-bg { width:100%; background:url(footer-bg.jpg) repeat-x 0 0;  }
#footer .shelld { position:relative; }
#footer h3 { color:#938f86; background:url(footer-border.gif) repeat-x 0 bottom; padding-bottom:6px; }
#footer ul { list-style-type:none; }
#footer ul li{ background:url(footer-border.gif) repeat-x 0 bottom; padding:1px 0 2px 0;}
#footer ul li a{ display:block; color:#726f69; background:url(buls.gif) no-repeat 4px 5px; padding:0 0 1px 20px; width:280px;}
#footer ul li a:hover{ background-color:#48453f; background-position:4px -64px; }
#footer .cols { position:relative; overflow:hidden; }
#footer .cols .col{ float:left; width:300px; padding:30px 30px 26px 0; position:relative; }
#footer .cols .col-right{ float:right; padding-right:0;}
#footer .toggle { display:none; position:absolute; top:-55px; right:-10px; width:86px; height:36px; font-size:0; line-height:0; background:url(toggle-hide.gif) no-repeat 0 0; }
#footer .toggle-show { background-image:url(toggle-show.gif);}

#bottom { height:40px; background:url(bottom.jpg); border-top:solid 1px #4a443c; font-size:11px; line-height:40px; white-space:nowrap; color:#54514f; }
#bottom a{ color:#54514f; }
#bottom a:hover{ color:#827f7c; }
#bottom .left a{ margin-right:16px; }


.post{ margin-bottom:15px;}
.post .title{ overflow:hidden; line-height:36px;}
.post .title h2{ float:left; font-size:22px; font-family:微软正雅黑}
.post .title .date{ padding:0 10px; color:#453e34;}
.post .text{ }
.post .text .more{ text-align:right;}
.post .text .more a{ display:block;}
.post .post-meta { padding:10px 0; line-height:18px; white-space:nowrap; }
.post .post-meta .comment{ float:right;}
.post .line{ display:block; height:1px; overflow:hidden; clear:both; font-size:0; background:url("line-bg.png") 0 0 repeat-x;}

/* jquery.tagsinput */
div.tagsinput { border:1px solid #A4A298; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border:1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding:0 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px; font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  }
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color:#625843; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; }
.tags_clear { clear: both; width: 100%; height: 0px; }

.subscribe { color:#a29f9a; font-size:11px; line-height:14px; }
.subscribe p { padding-top:10px; }
.subscribe .field { width:300px; height:36px; background:url(field-footer.gif) no-repeat 0 0; display:block; padding-top:2px; }
.subscribe .field input{ border:0; color:#65635e; width:278px; background:transparent; padding:10px;}

a.comment-it { text-decoration:underline; background:url(comment.gif) no-repeat right 2px; padding-right:14px; margin-right:5px;}
a.comment-it:hover { text-decoration:none; }

/* pagination */
.pagination{ line-height: 18px; }
.pagination span{ display: inline-block; margin: 0 2px; color: #78756C; }
.pagination span.current{ padding: 2px 5px; background: #8D2C2D; color: #FFF;}
.pagination span a{ display: inline-block; min-width: 15px; padding: 2px 5px; background: #CFCCC2; text-align: center; }
.pagination span a:hover{  background: #8D2C2D; color: #FFF;}

.blog-pagging-holder { float:right; }

.submit-button { display:block; width:94px; height:44px; margin:0 0 0 auto; cursor:pointer; background:url(submit-button.png);}
.submit-button:hover { background:url(submit-button-h.png)}

.alert { padding:0 0 0 20px; background:url(alert.gif) no-repeat 0 3px; color:#8d2c2d; white-space:nowrap; }

.gallery {}
.gallery ul{ list-style-type:none; font-size:0; line-height:0; width:991px; margin-right:-11px; padding:0 !important; }
.gallery ul li{ display:inline; float:left; margin-right:11px; margin-bottom:20px;}

.sitemap ul{ list-style-type:none;}
.sitemap ul li { padding:0 0 4px 0; }
.sitemap ul li li{ padding:0 0 0 16px; }
.sitemap ul li a{ background:url(buls.gif) no-repeat 0 -67px; padding:0 0 0 16px;}
.sitemap ul li li { font-size:11px;}
.sitemap ul li li a{ background:transparent; padding:0; color:#453e34; text-decoration:underline;}
.sitemap ul li li a:hover{ color:#8d2c2d; text-decoration:none;}

#screen { background:#fff; width:100%; height:100%; position:absolute; top:0; left:0; z-index:100; display:none;
          opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=80);}

.msg-thanks { padding:10px; background:#f1efe8; margin-bottom:12px; border-top:solid 1px #d0cdc3; border-bottom:solid 1px #d0cdc3; color:#2d758d;}

.under { text-align:center; padding-top:100px; }
.under h3{ color:#2d758d; font-size:20px; padding-bottom:13px; }
.under h6{ padding-bottom:10px; }
.under h1#logo{ position:static; top:0; margin:0 auto; }
.under-ico { display:block; width:142px; height:223px; background:url(under.png); margin:0 auto; }

/* Tag cloud style */
.css1 { font-size:1.0em; }
.css2 { font-size:1.2em; }
.css3 { font-size:1.4em; }
.css4 { font-size:1.6em; }

.text .syntaxhighlighter .toolbar a{display:none;}

.flickr{ height:auto; overflow:hidden; padding:15px 0; text-align:center}
.flickr a{ display:inline-block; padding:10px;}
.flickrimg{ border:0px none;}

.flickr-badge{}
.flickr-badge a{ display:inline-block; padding:0 10px 5px 10px;}

#fm-1q84{ position:fixed; right:15px; bottom:0;}
