/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require _font-awesome
 *= require animate
 *= require animate.patchs/patch
 *= require_self
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline:0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html { height: 100%;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100%;
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size:18px;
  line-height:25px;
  color:#444;
  background: transparent;
  position: relative;
}
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  z-index: 100;
}
body:after {
  content: "";
  position: fixed;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  z-index: 100;
}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table { border-collapse: collapse; border-spacing: 0;}

a img { border:0; }
a { color:#C5462B; text-decoration:none; cursor:pointer; }
a:hover { color:#C9B899; }

a.img img{ border:solid 1px #c2c0b6;}
a.img:hover img{ border:solid 1px #a2a098;}

::selection { background: #e2eae2; }
::-moz-selection { background: #e2eae2; }
::-webkit-selection { background: #e2eae2; }

aside{
  width: 30%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #FFF;
  background: url('forest.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.3);
}

#avatar-area{
  width: 50px;
  height: 50px;
  margin: 12px;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
#avatar-area img{ width: 50px; height: 50px;
  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.3);
}

.brand{ width: 100%; position: absolute; bottom: 35px; text-align: center;}
.brand a, #setting-icon{
  display: inline-block;
  padding: 5px;
  font-size: 36px;
  color: #FFF;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.brand a:hover, #setting-icon:hover{
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#setting-icon{ padding: 0; position: absolute; right: 10px; bottom: 5px; font-size: 18px;}
#setting-icon:hover{}

.copyright{ width: 100%; position: absolute; bottom: 15px; text-align: center; color: #CCC;}
.copyright a{ color: #CCC;}

#main{ margin-left: 30%;}
#container{ padding: 75px 25% 50px 8%;}

h2{ margin-bottom: 12px; font-size: 36px; line-height: 36px;}
h2 a{ color: #2886BC; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
h2 a:hover{ color: #333; }
h2 span{ float: right; font-size: 12px; color: #999;}

article{ margin: 35px 0; padding-bottom: 10px; border-bottom: 1px solid #f2f2f2; }
article:first-child{ margin-top: 0;}
article p{ padding-bottom: 5px;}
article p:first-child:first-letter{ /*display: block; margin: 0; float: left; font-size: 200%;*/ }
article h3{ padding-bottom: 5px; font-size:22px;}
article .meta { margin:10px 0; line-height:18px; white-space:nowrap; color: #CCC;}
article .meta a{ color: #CCC;}
article .meta .comment{ float:right;}
article .text{ }
article .text .more{ text-align:right;}
article .text .more a{ display:block;}

.model{ margin: 20px 0;}

.tags{
  text-align: justify;
  -moz-column-count: 3;
  -moz-column-gap: 25px;
  -moz-column-rule: 1px solid #c4c8cc;
  -webkit-column-count: 3;
  -webkit-column-gap: 25px;
  -webkit-column-rule: 1px solid #c4c8cc;
}

/* jquery.tagsinput */
div.tagsinput { border:1px solid #A4A298; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border:1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding:0 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px; font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  }
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color:#625843; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; }
.tags_clear { clear: both; width: 100%; height: 0px; }

/* pagination */
.pagination{ line-height: 18px; }
.pagination span{ display: inline-block; margin: 0 2px; color: #78756C; }
.pagination span.current{ padding: 2px 5px; background: #8D2C2D; color: #FFF;}
.pagination span a{ display: inline-block; min-width: 15px; padding: 2px 5px; background: #CFCCC2; text-align: center; }
.pagination span a:hover{  background: #8D2C2D; color: #FFF;}

.pagging-holder { height: auto; overflow: hidden; margin: 10px 0;}
.pagging-holder .pagination{ float: right;}

.submit-button { display:block; width:94px; height:44px; margin:0 0 0 auto; cursor:pointer; background:url(submit-button.png);}
.submit-button:hover { background:url(submit-button-h.png)}

.alert { padding:0 0 0 20px; background:url(alert.gif) no-repeat 0 3px; color:#8d2c2d; white-space:nowrap; }

.gallery {}
.gallery ul{ list-style-type:none; font-size:0; line-height:0; width:991px; margin-right:-11px; padding:0 !important; }
.gallery ul li{ display:inline; float:left; margin-right:11px; margin-bottom:20px;}

.sitemap ul{ list-style-type:none;}
.sitemap ul li { padding:0 0 4px 0; }
.sitemap ul li li{ padding:0 0 0 16px; }
.sitemap ul li a{ background:url(buls.gif) no-repeat 0 -67px; padding:0 0 0 16px;}
.sitemap ul li li { font-size:11px;}
.sitemap ul li li a{ background:transparent; padding:0; color:#453e34; text-decoration:underline;}
.sitemap ul li li a:hover{ color:#8d2c2d; text-decoration:none;}

#screen { background:#fff; width:100%; height:100%; position:absolute; top:0; left:0; z-index:100; display:none;
          opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=80);}

.msg-thanks { padding:10px; background:#f1efe8; margin-bottom:12px; border-top:solid 1px #d0cdc3; border-bottom:solid 1px #d0cdc3; color:#2d758d;}

.under { text-align:center; padding-top:100px; }
.under h3{ color:#2d758d; font-size:20px; padding-bottom:13px; }
.under h6{ padding-bottom:10px; }
.under h1#logo{ position:static; top:0; margin:0 auto; }
.under-ico { display:block; width:142px; height:223px; background:url(under.png); margin:0 auto; }

/* Tag cloud style */
.css1 { font-size:1.0em; }
.css2 { font-size:1.2em; }
.css3 { font-size:1.4em; }
.css4 { font-size:1.6em; }

.text .syntaxhighlighter .toolbar a{display:none;}

.flickr{ height:auto; overflow:hidden; padding:15px 0; text-align:center}
.flickr a{ display:inline-block; padding:10px;}
.flickrimg{ border:0px none;}

.flickr-badge{}
.flickr-badge a{ display:inline-block; padding:0 10px 5px 10px;}

#fork-me-on-github img{position: fixed; top: 0; right: 0; z-index: 999; border: 0;}
